body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.warna-navbar {
    background: #1A2980;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.lebar-sinopsis {
    min-height: 650px;
}
.shadow-img {
    box-shadow: 1px 1px 17px 7px black;
}
section {
    min-height: 400px;
}
.tinggi-footer {
    min-height: 60px;
}
.lebar-embed {
    min-height: 800px;
}
.slider {
	width: 100%;
	height: 400px;
    background: url(../img/slide-1.png);
    background-size: cover;
	animation: slide 10s infinite;
}
@keyframes slide{
	25%{
        background: url(../img/slide-1.png);
        background-repeat: no-repeat;
        background-size: cover;
	}
	50%{
        background: url(../img/slide-2.png);
        background-repeat: no-repeat;
        background-size: cover;
	}
	75%{
        background: url(../img/slide-3.png);
        background-repeat: no-repeat;
        background-size: cover;
	}
	100%{
        background: url(../img/slide-2.png);
        background-repeat: no-repeat;
        background-size: cover;
	}
}
.slider h3{
    display: inline-block;
	color: rgb(231, 197, 0);
	font-size: 40pt;
	text-shadow: 1px 1px 15px black;
	position: relative;
	top: 60px;
	left: 50px;
}
.tombol-header {
    position: relative;
    top: 110px;
    left: -70%;
    border-radius: 30px;
}
.section-footer {
    min-height: 400px;
}
.nav-link {
    text-align: center;
}
.bg-sinopsis {
    background-color: #c8cace;
}
#topBtn {
     position: fixed;
     bottom: 40px;
     right: 40px;
     font-size: 22px;
     width: 50px;
     height: 50px;
     background-color: salmon;
     color: white;
     border: none;
     cursor: pointer;
     display: none;
     z-index: 9;
     border-radius: 5px;
}